ion-col {
    display: flex;
    justify-content: center;
    text-align: center;

    // background-color: aliceblue;
    // border: solid red;
}
h1{
    text-align: center;
}

.container{
    border: dotted greenyellow;
    margin-left: 5px;
    margin-right: 5px;
}